In [35]:
from lyrics import PreprocessLyricsData
from news import PreprocessNewsData
from similarity import Similarity
# turn the warnings off
import warnings
warnings.filterwarnings('ignore')

NEWSGROUP

In [36]:
news_obj = PreprocessNewsData()

***** Filtering columns *****
***** Cleaning Data *****
***** Tokenizing Data *****
***** Loading Lemmatized Data *****

In [37]:
news_obj.df_news

,subject,content,tokenized_words,clean_keywords
0,0 Consciousness part II Kev Strikes Back,consciousness part ii kev strikes back scott d...,"[consciousness, part, ii, kev, strikes, back, ...","consciousness,part,ii,kev,strike,back,scott,sa..."
1,1 Keith Schneider Stealth Poster,keith schneider stealth poster cmtan iss.nus.s...,"[keith, schneider, stealth, poster, cmtan, iss...","keith,schneider,stealth,poster,cmtan,tan,chade..."
2,2 atheist,atheist i3150101 dbstu1.rz.tu bs.de benedikt r...,"[atheist, i3150101, dbstu1.rz.tu, bs.de, bened...","atheist,benedikt,rosenau,write,article,tony,le..."
3,3 Death Penalty Gulf War long,death penalty gulf war long jbrown batman.bmd....,"[death, penalty, gulf, war, long, jbrown, batm...","death,penalty,gulf,war,long,jbrown,write,regre..."
4,4 note to Bobby M,note to bobby m. in 1993apr10.191100.16094 ult...,"[note, to, bobby, m., in, 1993apr10.191100.160...","note,bobby,mozumder,write,insult,atheistic,gen..."
...,...,...,...,...
18823,18823 Greek myth and the Bible,greek myth and the bible in pegasus 1303931243...,"[greek, myth, and, the, bible, in, pegasus, 13...","greek,myth,bible,pegasus,dialin,pegasus,laurie..."
18824,18824 rw Is Robert Weiss the only orthodox Chr...,rw is robert weiss the only orthodox christian...,"[rw, is, robert, weiss, the, only, orthodox, c...","rw,robert,wei,orthodox,christian,curious,know,..."
18825,18825 Who s next Mormons and Jews,who s next mormons and jews cochrane james sha...,"[who, s, next, mormons, and, jews, cochrane, j...","next,mormon,jew,cochrane,james,shapleigh,write..."
18826,18826 Apology to Jim Meritt Was Silence is con...,apology to jim meritt was silence is concuranc...,"[apology, to, jim, meritt, was, silence, is, c...","apology,jim,meritt,silence,concurance,james,me..."
18827,18827 14 Apr 93 God s Promise in 1 John 1 7,14 apr 93 god s promise in 1 john 1 7 in artic...,"[14, apr, 93, god, s, promise, in, 1, john, 1,...","apr,god,promise,john,article,christian,wash,bl..."

In [38]:
similarity = Similarity(data=news_obj.df_news)

In [39]:
query = 'death penalty'
k = 10

In [40]:
similarity.cosine_similarity(query=query, k=k)

***** Calculating Similarity Score *****

   index                                            subject     score
0    263           263 Death Penalty was Political Atheists  0.649962
1  15380                   15380 Deuterocanicals eps Sirach  0.522674
2  15202         15202 Homosexuality issues in Christianity  0.454990
3  15386           15386 Prophetic Warning to New York City  0.438027
4   9958               9958 Wings News and Playoff Thoughts  0.410099
5    543           543 Death Penalty was Political Atheists  0.393082
6  10593                 10593 Don Cherry New Pens Annoucer  0.373066
7  17597                                  17597 fillibuster  0.354867
8   9962                           9962 USENET Playoff Pool  0.349905
9  10393  10393 Finland Sweden vs NHL teams WAS Helsinki...  0.349113

In [41]:
a = news_obj.df_news.loc[263]
a['content']

'death penalty was political atheists the death penalty was conceived as a deterrent to crime but the legal shenanigans that have been added automatic appeals lengthy court battles etc. have relegated that purpose to a very small part of what it should be. hence the question is do we instate the death penalty as it was meant to be and see if that deters crime or do we get rid of it entirely i doubt the death penalty was supposed to be a deterrent to crime. if so why doesn t every crime carry a death penalty that would be effictive wouldn t it the death penalty is a punishment much like a 50 fine for speeding is a punishment. anyway somebody with murder on the mind doesn t much care about the consequences. i think another problem is that people dont think they will get caught. if i wanted to kill another person i wouldn t care what the penalty was if i didn t think i would get caught. if it was to be strictly a deterrent it should have been more along the lines of torture. dave fuller dfuller portal.hq.videocart.com'

LYRICS

In [2]:
lyrics_obj = PreprocessLyricsData()

***** Filtering columns *****
***** Cleaning Data *****
***** Tokenizing Data *****
***** Loading Lemmatized Data *****

In [3]:
lyrics_obj.df_lyrics

,subject,content,tokenized_words,clean_keywords
0,0 Baby I,baby i got love for thee so deep inside of me ...,"[baby, i, got, love, for, thee, so, deep, insi...","baby,get,love,thee,deep,inside,know,start,yeah..."
1,1 Only 1,i want you i want you i want you i want you i ...,"[i, want, you, i, want, you, i, want, you, i, ...","want,want,want,want,want,want,let,introduce,le..."
2,2 Intro,i ll give you all i have and nothing less i pr...,"[i, ll, give, you, all, i, have, and, nothing,...","give,nothing,less,promise,love,look,back,want,..."
3,3 Best Mistake,ariana grande how soon do we forget how we fel...,"[ariana, grande, how, soon, do, we, forget, ho...","ariana,grande,soon,forget,felt,deal,emotion,ne..."
4,4 Hands On Me,ariana grande keep your hands on me don t take...,"[ariana, grande, keep, your, hands, on, me, do...","ariana,grande,keep,hand,take,em,say,let,break,..."
...,...,...,...,...
247,247 White Horse,say you re sorry that face of an angel comes o...,"[say, you, re, sorry, that, face, of, an, ange...","say,sorry,face,angel,come,need,pace,back,forth..."
248,248 How You Get The Girl,oh oh oh oh oh oh oh oh oh oh stand there like...,"[oh, oh, oh, oh, oh, oh, oh, oh, oh, oh, stand...","oh,oh,oh,oh,oh,oh,oh,oh,oh,oh,stand,like,ghost..."
249,249 Teardrops On My Guitar,drew looks at me i fake a smile so he won t se...,"[drew, looks, at, me, i, fake, a, smile, so, h...","drew,look,fake,smile,see,want,need,everything,..."
250,250 Forever & Always,once upon a time i believe it was a tuesday wh...,"[once, upon, a, time, i, believe, it, was, a, ...","upon,time,believe,tuesday,catch,eye,catch,onto..."
251,251 Ours,elevator buttons and morning air strangers sil...,"[elevator, buttons, and, morning, air, strange...","elevator,button,morning,air,stranger,silence,m..."

In [4]:
similarity = Similarity(data=lyrics_obj.df_lyrics)

In [22]:
query = 'oh oh oh oh oh oh oh oh oh oh'
k = 10

In [23]:
similarity.cosine_similarity(query=query, k=k)

***** Calculating Similarity Score *****

  index                           subject     score
0   130                          130 Sing  0.954111
1   232                         232 Clean  0.644969
2   248          248 How You Get The Girl  0.603855
3    50  50 Don't Let It Break Your Heart  0.576647
4    80                    80 Amazing Day  0.557476
5   223                     223 This Love  0.556462
6    48              48 Princess Of China  0.477284
7    28                          28 Moses  0.475351
8   103                    103 Green Eyes  0.474509
9    21                    21 Daydreamin'  0.457261

In [32]:
similarity.cosine_similarity(query=query, k=k)

***** Calculating Similarity Score *****

  index                subject     score
0    76       76 The Scientist  0.235257
1   100        100 Cold Coffee  0.189192
2   140          140 One Night  0.182564
3    52  52 Life Is For Living  0.113813
4   137                137 She  0.107192
5    37              37 Oceans  0.103597
6   107       107 Shape Of You  0.094462
7   146         146 Photograph  0.091259
8   113     113 Goodbye To You  0.091101
9   127   127 All Of The Stars  0.088244

In [30]:
lyrics_obj.df_lyrics.loc[130]['subject']

'130 Sing'

In [31]:
lyrics_obj.df_lyrics.loc[130]['content']

'it s late in the evening glass on the side i ve been sat with you for most of the night ignoring everybody here we wish they would disappear so maybe we could get down now i don t wanna know if you re getting ahead of the program i want you to be mine lady to hold your body close take another step into the no man s land for the longest time lady i need you darling come on set the tone if you feel you re falling won t you let me know oh oh oh ooh oh oh oh oh ooh oh if you love me come on get involved feel it rushing through you from your head to toe oh oh oh ooh oh oh oh oh ooh oh sing oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh louder oh oh oh oh oh oh oh oh oh oh oh oh oh sing oh oh oh oh oh oh oh oh oh oh oh oh oh this love is a blaze i saw flames from the side of the stage and the fire brigade comes in a couple of days until then we got nothing to say and nothing to know but something to drink and maybe something to smoke let it go until our roads are changed singing we found love in a local rave no i don t really know what i m supposed to say but i can just figure it out and hope and pray i told her my name and said it s nice to meet ya. then she handed me a bottle of water filled with tequila. i already know she s a keeper just from this one small act of kindness i m in deep shit if anybody finds out i m meant to drive home but i ve drunk all of it now not sobering up we just sit on the couch one thing led to another now she s kissing my mouth i need you darling come on set the tone if you feel you re falling won t you let me know oh oh oh oh ooh oh oh oh oh ooh if you love me come on get involved feel it rushing through you from your head to toe oh oh oh oh ooh oh oh oh oh ooh sing oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh louder oh oh oh oh oh oh oh oh oh oh oh oh oh sing oh oh oh oh oh oh oh oh oh oh oh oh oh can you feel it all the guys in here don t even wanna dance can you feel it all that i can hear is music from the back can you feel it found you hiding here so won t you take my hand darling before the beat kicks in again can you feel it can you feel it sing oh oh oh oh oh oh oh oh oh oh oh oh oh x7 i need you darling come on set the tone if you feel you re falling won t you let me know louder oh oh oh oh ooh oh oh oh oh ooh sing if you love me come on get involved feel it rushing through you from your head to toe louder oh oh oh oh ooh oh oh oh oh ooh sing'